c*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 228, 196);
    color: rgb(255, 162, 0);
    font-family: 'poppins';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 242, 234);
    padding: 20px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.top-line {
  background-color: rgb(255, 162, 0);
  color: bisque;
  text-align: center;
  padding: 5px;
  position: relative; 
  z-index: 10;
   box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.sitio img{
    width: 100px;
}

.card {
  border: none;
  box-shadow: 0 6px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.04);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.card-title {
  color: #0056b3;
}

header .sitio {
    margin-right: 0;
}

header nav{
    display: inline-block;

}

header nav ul{
    padding: 0;
}

header nav ul li{
    list-style: none;
   display: inline-block;
}

header nav ul li a{
    margin: 10px;
 text-decoration: none;
 color:rgb(165, 101, 42);
}

#portfolio{
    background-color: bisque;
}

#portfolio section{
   display: flex;
   flex-wrap: wrap;
   gap: 5rem ;
   justify-content: space-evenly;
   height: auto;
   border: 2px solid black;
}

#portfolio article{
    width: auto;
    min-width: 200px;
    max-width: 200px;
    background-color: #4c94f9;
    padding: 1rem;
    border-radius: 8px;
}

#portfolio article img{
    width: 100%;   
}

footer{
  background-color: rgb(255, 162, 0);
  color: bisque;  
  font-family: 'poppins';
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 0;
  letter-spacing: 1px;
  width: 100%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

footer .links{
     color: bisque;
     padding: 30px;  
     gap: 5rem;
     display: flex;
     justify-content: space-between;
}

footer .links b{
    font-size: 20px;
}

footer .links ul li{
  list-style-type: none;
  padding-left: 0;
  font-size: 15px;

}
footer .links ul li a{
 text-decoration: none;
 color: bisque;

}

#iniciar main .container{
    width: 1000px;
    margin: auto;
}

#iniciar main{
    margin-top: 3rem;
}

#iniciar main h1{
    font-family: 'poppins';
    font-size: 3rem;
}

#iniciar h1{
    display: block;
}

#iniciar label{
  display: block;
  font-size: 1.5rem;
  font-family: 'poppins';
  margin: 10px 0;
}

input , textarea{
    width: 500px;
    border: 1px solid #aa742e;
    padding: 1rem;
    border-radius: 8px;
}

button{
    border: 0;
    border-radius: 8px;
    font-size: 0.8rem;
    color: white;
    padding: 10px 20px;
    font-family: 'poppins';
    background-color: rgb(247, 178, 50);
    margin-top: 20px;
    position: relative;
    top: 0px; 
}

#iniciar header {
  text-align: center;
}

#inicar header h1 {
  width: 100%;
}

#iniciar .formulario{
   background-color: rgb(255, 228, 196);
}